<nav>
    <div id="navbarNavAltMarkup">
      <div>
        <a class="links" href="/"> Home </a>
        <a class="links" href="/about">About</a>
        <a class="links" href="/works">Works</a>
      </div>
    </div>
  </nav>